/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Lakki+Reddy|Sulphur+Point|Tajawal&display=swap");

/* Body */

body {
    background: #544a7d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd452, #544a7d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd452, #544a7d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    margin-top: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 39px -18px #000000;
    box-shadow: 0px 0px 39px -18px #000000;
    font-family: "Sulphur Point", sans-serif;
}

.jumbotron h1 {
    font-family: "Lakki Reddy", cursive;
}

.chef-burger-img {
    height: 150px;
    width: 150px;
}

.lead {
    text-align: center;
    margin-top: 15px;
}

section {
    display: flex;
    justify-content: space-between;
}

nav,
aside {
    border-radius: 20px;
    margin-bottom: 50px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Tajawal", sans-serif;
    border-bottom: 2px solid #fff;
    text-align: center;
}

.form-group {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

label {
    font-size: 22px;
    font-weight: bold;
}

#burger_name {
    border: none;
    padding: 5px;
}

ul {
    list-style: none;
    color: #000000;
    font-size: 23px;
    padding: 0;
    margin: 0;
    float: inline-start;
    font-family: "Sulphur Point", sans-serif;
}

.devour-burger,
.delete {
    margin: 0 0 10px 10px;
}

.button-flex {
    float: right;
}